<section id="curso" class="curso" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  <div class="container-xxl">
    <div class="py-5 mt-5">
      <div class="container-xxl row align-items-center justify-content-between">
        <div class="col-md-8 mb-2 mb-md-0">
          <h3>Curso</h3>
          <p>A trajetória de um bom barbeiro começa com um bom mentor. Alexandre oferece curso individualizado, pensado para quem busca evolução real, prática guiada e atenção total.</p>
          <p>Confira o vídeo abaixo para entender como funciona o curso e ver um pouco da metodologia na prática</p>
          <a class="btn btn-primary align-items-center" href="curso.html">
            <div class="d-flex align-items-center">
              <img class="me-1" src="./assets/img/Icon_go.png" width="16" height="16" alt="Icone indicando que vai abrir nova aba">
              Saber mais sobre o curso
            </div>
          </a>
        </div>
        <div class="col-md-4 text-center">
          <video controls width="250">
            <source src="./assets/video/curso.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</section>