<section class="packages" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  <div class="container-xxl py-5 mt-5">
    <h3 class="text-center pt-3 pb-2">Pacotes mensais</h3>

    <div class="row align-items-center justify-content-center gy-3">
      <div class="col-md-3">
        <div class="rounded bg-white p-4">
          <h4 class="text-primary text-center"><strong>Pacote <br> Essencial</strong></h4>
          <ul class="mt-4 mb-0">
            <li>4 mãos de manicure tradicional no mês</li>
            <li>1 pedicure no mês</li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="rounded bg-white p-4">
          <h4 class="text-primary text-center"><strong>Pacote <br> Premium</strong></h4>
          <ul class="mt-4 mb-0">
            <li>4 mãos de manicure tradicional no mês</li>
            <li>2 pedicure no mês</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="text-center pt-4">
      <a class="btn btn-primary" href="https://wa.me/554991233885?text=Ol%C3%A1%20Adriane%2C%20gostaria%20de%20saber%20se%20h%C3%A1%20hor%C3%A1rio%20dispon%C3%ADvel" target="_blank">
        <div class="d-flex align-items-center">
          <img class="me-1" src="./assets/img/Icon_whatsapp.png" width="16" height="16" alt="Logo Whatsapp">
          Conversar com Adriane
        </div>
      </a>
    </div>
  </div>
</section>