<section class="servicos" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  <div class="container-xxl pt-5">
    <h3>Serviços</h3>
    <p>Uma seleção de cuidados criada para realçar sua beleza, trazer conforto e garantir acabamento perfeito em cada detalhe.</p>

    <div class="row row-cols-1 row-cols-md-3 g-3">
      <div class="col">
        <div class="border rounded px-3 py-4 h-100 blur">
          <div class="text-center">
            <img class="mt-2" src="./assets/img/Icon_traditional_1.png" width="32" height="32" alt="">
            <p class="text-primary pt-3"><strong class="fw-bold">Manicure Tradicional</strong></p>
          </div>
          <ul>
            <li>Corte e lixamento</li>
            <li>Remoção de cutículas</li>
            <li>Esmaltação tradicional</li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="border rounded px-3 py-4 h-100 blur">
          <div class="text-center">
            <img class="mt-2" src="./assets/img/Icon_foot_1.png" width="32" height="32" alt="">
            <p class="text-primary pt-3"><strong class="fw-bold">Pedicure</strong></p>
          </div>
          <ul>
            <li>Cuidados completos dos pés</li>
            <li>Remoção de cutículas</li>
            <li>Lixamento e hidratação</li>
            <li>Esmaltação tradicional</li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="border rounded px-3 py-4 h-100 blur">
          <div class="text-center">
            <img class="mt-2" src="./assets/img/Icon_gel_1.png" width="32" height="32" alt="">
            <p class="text-primary pt-3"><strong class="fw-bold">Esmaltação em Gel</strong></p>
          </div>
          <ul>
            <li>Esmaltação de longa duração</li>
            <li>Alta resistência e brilho</li>
            <li>Secagem rápida na cabine UV/LED</li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="border rounded px-3 py-4 h-100 blur">
          <div class="text-center">
            <img class="mt-2" src="./assets/img/Icon_wash_gel_1.png" width="32" height="32" alt="">
            <p class="text-primary pt-3"><strong class="fw-bold">Banho de Gel</strong></p>
          </div>
          <ul>
            <li>Reforço sobre a unha natural</li>
            <li>Ideal para unhas fracas ou quebradiças</li>
            <li>Acabamento natural e resistente</li>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="border rounded px-3 py-4 h-100 blur">
          <div class="text-center">
            <img class="mt-2" src="./assets/img/Icon_polygel_1.png" width="32" height="32" alt="">
            <p class="text-primary pt-3"><strong class="fw-bold">Blindagem com poligel e realinhamento </strong></p>
          </div>
          <ul>
            <li>Camada protetora para fortalecer a unha natural</li>
            <li>Reduz quebras e descamações</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="text-center pt-5">
      <a class="btn btn-primary" href="https://wa.me/554991233885?text=Ol%C3%A1%20Adriane%2C%20gostaria%20de%20saber%20se%20h%C3%A1%20hor%C3%A1rio%20dispon%C3%ADvel" target="_blank">
          <div class="d-flex align-items-center">
            <img class="me-1" src="./assets/img/Icon_whatsapp.png" width="16" height="16" alt="Logo Whatsapp">
            Agendar meu horário
          </div>
        </a>
    </div>
  </div>
</section>