@font-face {
    font-family: 'queilab';
    src: url('../font/Qeilab.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4{
    font-family: 'queilab', sans-serif !important;
    font-size: 50px !important;
    color: #4E4D4D !important;
}

h3{
    font-size: 36px !important;
    font-weight: 100 !important;
}

h4{
    font-size: 26px !important;
    font-weight: 100 !important;
}

p, small, li, a, span, label, input, button{
    font-family: 'poppins', sans-serif !important;
    line-height: 150% !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #4E4D4D !important;
}

nav{
    background-color: #000000B3;
}

.nav-link{
    color: #FFFFFF !important;
}

.navbar-expand-xl .navbar-nav .nav-link{
    padding: 0 2rem !important;
}

.banner{
    padding: 0.5rem 1.5rem !important;
    background-image: url(./../img/Banner.png);
    height: 100vh;
}

.blur{
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.btn-primary{
    background-color: #F5DBAE !important;
    border-color: #F5DBAE !important;
    color: #4E4D4D !important;
    padding: 0.7rem 1rem !important;
}

.text-primary{
    color: #FFB400 !important;
}

.w-md-75{
    width: 75% !important;
}

.tecnicas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

/* barbearia */
.barbearia{
    background-color: #292929;
}

.barbearia h2,
.barbearia h3,
.barbearia p,
.barbearia small{
    color: #FFFFFF !important;
}

.barbearia #galeria{
    background-color: #4E4D4D;
    margin-top: -85px;
    padding-top: 85px;
    height: 650px;
    margin-bottom: 131px;
}

.barbearia .servicos .nav-link:hover,
.barbearia .servicos .nav-link.active{
    border-bottom: 1px solid #FFB400;
}

.barbearia .servicos{
    background-image: url(./../img/background_scissor.png);
    background-position: top right;
    background-repeat: no-repeat;
}

.barbearia .find-more{
    background-image: url(./../img/background_logo.png);
    background-position: left;
    background-repeat: no-repeat;
}

.barbearia .curso{
    background-color: #4E4D4D;
}

.barbearia .border,
.barbearia .border-end{
    border-color: #4E4D4D !important;
}

.filter{
  display: none;
}

.show{
  display: block;
}

/* esmalteria */
.esmalteria #galeria{
    background-color: #F9E9CE;
    margin-top: -65px;
    padding-top: 65px;
    height: 650px;
    margin-bottom: 131px;
}

.esmalteria .services{
    background-image: url(./../img/Background-services.png);
    background-repeat: no-repeat;
    background-position: left;
}

.esmalteria .packages{
    background-image: url(./../img/background_logo.png);
    background-repeat: no-repeat;
    background-position: 1260px 240px;
    background-color: #F9E9CE;
}

/* Contatos */
.contato{
    background-image: url(./../img/Background-contact.png);
    background-repeat: no-repeat;
}

.contato a{
    text-decoration: none !important;
}

/* Footer */
footer{
    background-color: #4E4D4D;
}

footer p{
    color: #F5DBAE !important;
}

/* Responsivo */
@media (max-width: 1220px){
    .barbearia #galeria,
    .esmalteria #galeria{
        height: auto;
        margin-bottom: 0;
    }

}

/* Tablet */
@media (max-width: 992px) {
    .tecnicas{
        display: grid;
        grid-template-columns: 2fr 2fr;
        text-align: center;
        margin-bottom: 3px;
    }

    .contato{
        background-image: none;
        background-color: #DCDBDB;
    }

    .tecnicas .w-75{
        width: 100% !important;
    }

    .barbearia .sobre .w-100,
    .esmalteria .w-100{
        width: 50% !important;
    }

    .border-start-0{
        border: 1px solid #dee2e6 !important;
    }

    .w-75{
        width: 100% !important;
    }

    .border{
        border-radius: 0.25rem !important;
    }
}
